# Question 1

In [10]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [2]:
censusData = pd.read_csv('census.csv',
                  na_values = ':')
censusData

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [4]:
census_married_spouse_present= censusData[censusData['marital_status'] == 'Married/spouse present']
census_married_spouse_present

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0
38,2000,Florida,30270.0,26,Male,Other,Married/spouse present,24250.0
41,2000,New York,165000.0,63,Male,White,Married/spouse present,123000.0
43,2000,New York,48630.0,35,Female,White,Married/spouse present,15830.0
46,2000,New York,130000.0,54,Female,White,Married/spouse present,64000.0
58,2000,New York,168200.0,34,Male,White,Married/spouse present,121600.0
60,2000,New York,55300.0,49,Male,White,Married/spouse present,55300.0
64,2000,New York,43000.0,40,Female,Black,Married/spouse present,0.0
67,2000,New York,48400.0,24,Female,Chinese,Married/spouse present,0.0
70,2000,New York,34900.0,36,Female,Black,Married/spouse present,19900.0
72,2000,New York,106000.0,32,Female,White,Married/spouse present,22000.0
75,2000,New York,38000.0,47,Male,White,Married/spouse present,38000.0
78,2000,New York,40400.0,46,Female,Black,Married/spouse present,14200.0
79,2000,New York,59700.0,27,Female,White,Married/spouse present,14500.0
86,2000,Alabama,63820.0,40,Male,White,Married/spouse present,47950.0
...,...,...,...,...,...,...,...,...
409,2000,Wisconsin,72520.0,31,Male,White,Married/spouse present,39510.0
412,2000,Wisconsin,45000.0,29,Female,White,Married/spouse present,20000.0
415,2000,Wisconsin,175000.0,61,Male,White,Married/spouse present,55000.0
420,2000,Hawaii,108484.0,49,Female,Other Asian or Pacific Islander,Married/spouse present,22000.0
421,2000,Hawaii,44410.0,54,Female,Chinese,Married/spouse present,34600.0
422,2000,Idaho,38800.0,60,Male,White,Married/spouse present,23000.0
426,2000,Indiana,31500.0,29,Male,White,Married/spouse present,6500.0
431,2000,Indiana,78700.0,37,Male,Other Asian or Pacific Islander,Married/spouse present,39920.0
433,2000,Indiana,77500.0,29,Female,White,Married/spouse present,45500.0
434,2000,Indiana,36000.0,26,Female,White,Married/spouse present,0.0
440,2000,Louisiana,43000.0,37,Female,White,Married/spouse present,24000.0
442,2000,Louisiana,30900.0,49,Male,White,Married/spouse present,29800.0
444,2000,Louisiana,54090.0,31,Male,White,Married/spouse present,6000.0
445,2000,Louisiana,146500.0,74,Male,White,Married/spouse present,104800.0
448,2000,Louisiana,10000.0,54,Male,Black,Married/spouse present,0.0
453,2000,Mississippi,39900.0,46,Female,White,Married/spouse present,25000.0
454,2000,Mississippi,57700.0,45,Female,Black,Married/spouse present,0.0
457,2000,Missouri,16300.0,70,Male,White,Married/spouse present,11800.0
463,2000,Missouri,25280.0,81,Male,White,Married/spouse present,16300.0
465,2000,Missouri,22200.0,30,Male,White,Married/spouse present,15700.0
468,2000,Pennsylvania,74490.0,42,Male,White,Married/spouse present,68020.0
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [9]:
census_married_spouse_absent= censusData[censusData['marital_status'] == 'Married/spouse absent']
census_married_spouse_absent

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
104,2000,California,43900.0,21,Female,Other,Married/spouse absent,9500.0
166,2000,Illinois,48790.0,39,Male,White,Married/spouse absent,22000.0
167,2000,Illinois,NaN,87,Female,White,Married/spouse absent,13000.0
177,2000,Maryland,NaN,25,Male,Black,Married/spouse absent,19200.0
250,2000,Texas,37500.0,49,Male,Black,Married/spouse absent,0.0
273,2000,Colorado,49100.0,35,Male,Other,Married/spouse absent,13000.0
286,2000,Kentucky,100000.0,37,Male,Black,Married/spouse absent,100000.0
319,2000,Arizona,46800.0,53,Female,White,Married/spouse absent,30000.0
332,2000,Georgia,NaN,40,Male,Black,Married/spouse absent,25000.0
339,2000,Georgia,20000.0,28,Female,Black,Married/spouse absent,15000.0
432,2000,Indiana,29340.0,57,Female,White,Married/spouse absent,29340.0
443,2000,Louisiana,NaN,44,Male,Black,Married/spouse absent,0.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0

In [5]:
census_single= censusData[censusData['marital_status'] == 'Never married/single']
census_single

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
31,2000,Florida,118100.0,18,Female,White,Never married/single,7500.0
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0
36,2000,Florida,0.0,18,Male,White,Never married/single,2000.0
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN
44,2000,New York,13000.0,1,Male,White,Never married/single,NaN
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN
47,2000,New York,0.0,36,Male,White,Never married/single,17500.0
49,2000,New York,12400.0,7,Male,White,Never married/single,NaN
50,2000,New York,50400.0,21,Female,White,Never married/single,4000.0
51,2000,New York,65000.0,1,Female,White,Never married/single,NaN
52,2000,New York,62900.0,17,Female,Black,Never married/single,2000.0
53,2000,New York,31200.0,29,Male,Black,Never married/single,10000.0
54,2000,New York,81710.0,14,Male,White,Never married/single,NaN
55,2000,New York,37100.0,33,Male,White,Never married/single,37100.0
56,2000,New York,9500.0,16,Male,White,Never married/single,1800.0
59,2000,New York,168200.0,6,Female,White,Never married/single,NaN
61,2000,New York,NaN,17,Male,Black,Never married/single,2000.0
62,2000,New York,NaN,37,Male,Black,Never married/single,0.0
...,...,...,...,...,...,...,...,...
438,2000,Indiana,67300.0,7,Male,White,Never married/single,NaN
446,2000,Louisiana,500.0,10,Male,Black,Never married/single,NaN
447,2000,Louisiana,21700.0,71,Male,White,Never married/single,21700.0
449,2000,Louisiana,55800.0,4,Male,White,Never married/single,NaN
452,2000,Mississippi,1400.0,32,Female,Black,Never married/single,1400.0
455,2000,Mississippi,3300.0,3,Male,Black,Never married/single,NaN
456,2000,Mississippi,NaN,31,Male,White,Never married/single,25000.0
458,2000,Missouri,54000.0,41,Female,Black,Never married/single,54000.0
459,2000,Missouri,36400.0,3,Male,White,Never married/single,NaN
462,2000,Missouri,74000.0,12,Male,White,Never married/single,NaN
464,2000,Missouri,55500.0,17,Female,White,Never married/single,0.0
466,2000,Missouri,79100.0,10,Male,White,Never married/single,NaN
467,2000,Pennsylvania,75050.0,5,Female,White,Never married/single,NaN
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN

In [6]:
census_widowed= censusData[censusData['marital_status'] == 'Widowed']
census_widowed

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
39,2000,New York,8800.0,82,Female,White,Widowed,8800.0
42,2000,New York,15570.0,83,Male,White,Widowed,15570.0
74,2000,New York,55000.0,81,Male,White,Widowed,55000.0
76,2000,New York,37000.0,72,Female,White,Widowed,17300.0
106,2000,California,82300.0,58,Female,Chinese,Widowed,0.0
138,2000,California,41500.0,79,Female,White,Widowed,41500.0
210,2000,Ohio,19604.0,50,Female,Black,Widowed,19604.0
216,2000,Ohio,10400.0,75,Female,White,Widowed,10400.0
266,2000,Texas,0.0,52,Female,White,Widowed,0.0
267,2000,Texas,11300.0,70,Male,White,Widowed,5100.0
287,2000,Kentucky,3800.0,60,Male,Black,Widowed,3800.0
290,2000,Massachusetts,34300.0,82,Female,White,Widowed,22700.0
320,2000,Arizona,30000.0,60,Female,White,Widowed,30000.0
321,2000,Arizona,0.0,67,Female,White,Widowed,0.0
326,2000,Delaware,46200.0,85,Female,White,Widowed,9100.0
342,2000,Georgia,21200.0,59,Female,Black,Widowed,21200.0
366,2000,Minnesota,17000.0,69,Female,White,Widowed,17000.0
367,2000,Minnesota,0.0,81,Female,White,Widowed,0.0
403,2000,Washington,21500.0,64,Male,Other Asian or Pacific Islander,Widowed,15000.0
408,2000,West Virginia,0.0,87,Male,White,Widowed,0.0
424,2000,Indiana,8000.0,85,Male,Black,Widowed,8000.0
430,2000,Indiana,11580.0,76,Female,White,Widowed,11580.0
439,2000,Indiana,25000.0,70,Female,White,Widowed,15800.0
441,2000,Louisiana,13300.0,71,Male,Black,Widowed,13300.0
451,2000,Louisiana,8100.0,93,Female,White,Widowed,8100.0
461,2000,Missouri,9400.0,81,Female,White,Widowed,9400.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0

In [7]:
census_divorced= censusData[censusData['marital_status'] == 'Divorced']
census_divorced

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
40,2000,New York,0.0,46,Female,White,Divorced,17000.0
57,2000,New York,25000.0,40,Female,Two major races,Divorced,25000.0
66,2000,New York,105000.0,61,Female,White,Divorced,105000.0
85,2000,Alabama,5500.0,73,Female,Black,Divorced,3000.0
87,2000,Alabama,11200.0,60,Female,Black,Divorced,11200.0
101,2000,California,12000.0,52,Female,White,Divorced,5100.0
108,2000,California,80300.0,20,Male,White,Divorced,26300.0
119,2000,California,13500.0,58,Male,Other,Divorced,0.0
152,2000,Illinois,45000.0,47,Male,White,Divorced,45000.0
159,2000,Illinois,34000.0,62,Male,White,Divorced,34000.0
169,2000,Illinois,30000.0,35,Female,Black,Divorced,30000.0
171,2000,Illinois,38500.0,41,Female,White,Divorced,38500.0
187,2000,New Jersey,4500.0,46,Female,Black,Divorced,4500.0
191,2000,New Jersey,36200.0,31,Female,White,Divorced,36200.0
194,2000,New Jersey,54240.0,38,Male,White,Divorced,8840.0
209,2000,Ohio,12600.0,65,Male,White,Divorced,12600.0
217,2000,Ohio,44200.0,53,Female,White,Divorced,44200.0
235,2000,Texas,32000.0,27,Female,White,Divorced,0.0
243,2000,Texas,150500.0,45,Male,White,Divorced,150500.0
248,2000,Texas,40050.0,35,Male,White,Divorced,40050.0
259,2000,Texas,55000.0,44,Male,White,Divorced,55000.0
271,2000,Colorado,12900.0,48,Male,White,Divorced,100.0
275,2000,Connecticut,0.0,52,Male,White,Divorced,51000.0
279,2000,Iowa,14300.0,61,Female,White,Divorced,14300.0
308,2000,New Mexico,0.0,46,Male,White,Divorced,44000.0
335,2000,Georgia,56740.0,53,Female,White,Divorced,56740.0
341,2000,Georgia,42700.0,45,Female,Black,Divorced,21000.0
382,2000,South Carolina,5000.0,40,Male,White,Divorced,5000.0
410,2000,Wisconsin,34500.0,63,Male,White,Divorced,34500.0
416,2000,Wisconsin,53000.0,40,Male,White,Divorced,49100.0
427,2000,Indiana,36000.0,33,Male,White,Divorced,36000.0
436,2000,Indiana,64500.0,40,Female,White,Divorced,9000.0
450,2000,Louisiana,0.0,54,Male,Black,Divorced,12100.0
460,2000,Missouri,15600.0,44,Female,White,Divorced,14000.0
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0

In [8]:
census_separated= censusData[censusData['marital_status'] == 'Separated']
census_separated

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
48,2000,New York,NaN,28,Male,White,Separated,0.0
141,2000,California,64800.0,37,Female,Other Asian or Pacific Islander,Separated,10300.0
395,2000,Tennessee,25000.0,26,Male,White,Separated,25000.0